USE [master]
GO
/****** Object:  Database [NdaExam]    Script Date: 26/09/2026 11:28:26 SA ******/
CREATE DATABASE [NdaExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NdaExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NdaExam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NdaExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NdaExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NdaExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NdaExam]
GO
/****** Object:  Table [dbo].[NdaEmployee]    Script Date: 26/09/2026 11:28:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NdaEmployee](
	[Id] [int] NOT NULL,
	[NdaName] [nvarchar](100) NOT NULL,
	[NdaGender] [nvarchar](10) NOT NULL,
	[NdaBirthDay] [date] NOT NULL,
	[NdaEmail] [varchar](100) NOT NULL,
	[NdaPhone] [varchar](12) NULL,
	[NdaActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NdaEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NdaEmployee] ADD  DEFAULT ((1)) FOR [NdaActive]
GO
USE [master]
GO
